body {
	color: #222;
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0;
	max-width: 95vw;
	height: 100vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

header {
	border-bottom: 1px solid #222;
	margin-bottom: 1rem;
}

footer {
	border-top: 1px solid #222;
	margin-top: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer div {
	height: auto;
}

footer span {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
li,
blockquote {
	max-width: 69ch;
}

a {
	color: #00e;
	text-decoration: none;
}

/* custom */

main {
	height: auto;

}

nav,
footer {
	text-align: start;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 a {
	color: darkgrey;
}

nav>a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	padding: 6px;
}

footer {
	margin-top: auto;
}

@media only screen and (min-width: 768px) {
	nav {
		flex-direction: row;
	}
}
